<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Bolbukfoods | Cart</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->

<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->

<link rel='stylesheet' href='/css/stilo.css' />
    <link rel='stylesheet' href='/css/cart.css'/> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
 <script src='js/okzoom.js'></script>
  <script>
    $(function(){
      $('#example').okzoom({
        width: 150,
        height: 150,
        border: "1px solid black",
        shadow: "0 0 5px #000"
      });
    });
  </script>
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
  rel="stylesheet"
/>

<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
	<!-- MDB -->

<!-- header -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
	<!-- Container wrapper -->
	<div class="container-fluid">
	  <!-- Toggle button -->
	  <button
		data-mdb-collapse-init
		class="navbar-toggler"
		type="button"
		data-mdb-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent"
		aria-expanded="false"
		aria-label="Toggle navigation"
	  >
		<i class="fas fa-bars"></i>
	  </button>
  
	  <!-- Collapsible wrapper -->
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<!-- Navbar brand -->
		<a class="navbar-brand mt-2 mt-lg-0" href="#">
		  <img
			src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
			height="15"
			alt="MDB Logo"
			loading="lazy"
		  />
		</a>
		<!-- Left links -->
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		  <li class="nav-item">
			<a class="nav-link" href="#">Dashboard</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Team</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Projects</a>
		  </li>
		</ul>
		<!-- Left links -->
	  </div>
	  <!-- Collapsible wrapper -->
  
	  <!-- Right elements -->
	  <div class="d-flex align-items-center">
		<!-- Icon -->
		<% if (!session.cart) { %>
			<a class="text-reset me-3" href="#">
				<i class="fas fa-shopping-cart"></i>
				<span class="badge rounded-pill badge-notification bg-danger"></span>
			  </a>
			<%} else { %>
				<a class="text-reset me-3" href="#">
					<i class="fas fa-shopping-cart"></i>
					<span class="badge rounded-pill badge-notification bg-danger"><%=session.cart.totalQty%></span>
				  </a>
			<% } %>
		
  
		<!-- Notifications -->
		<div class="dropdown">
		  <a
			data-mdb-dropdown-init
			class="text-reset me-3 dropdown-toggle hidden-arrow"
			href="#"
			id="navbarDropdownMenuLink"
			role="button"
			aria-expanded="false"
		  >
			<i class="fas fa-bell"></i>
			<span class="badge rounded-pill badge-notification bg-danger">1</span>
		  </a>
		  <ul
			class="dropdown-menu dropdown-menu-end"
			aria-labelledby="navbarDropdownMenuLink"
		  >
			<li>
			  <a class="dropdown-item" href="#">Some news</a>
			</li>
			<li>
			  <a class="dropdown-item" href="#">Another news</a>
			</li>
			<li>
			  <a class="dropdown-item" href="#">Something else here</a>
			</li>
		  </ul>
		</div>
		<!-- Avatar -->
		<div class="dropdown">
		  <a
			data-mdb-dropdown-init
			class="dropdown-toggle d-flex align-items-center hidden-arrow"
			href="#"
			id="navbarDropdownMenuAvatar"
			role="button"
			aria-expanded="false"
		  >
			<img
			  src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
			  class="rounded-circle"
			  height="25"
			  alt="Black and White Portrait of a Man"
			  loading="lazy"
			/>
		  </a>
		  <ul
			class="dropdown-menu dropdown-menu-end"
			aria-labelledby="navbarDropdownMenuAvatar"
		  >
			<li>
			  <a class="dropdown-item" href="#">My profile</a>
			</li>
			<li>
			  <a class="dropdown-item" href="#">Settings</a>
			</li>
			<li>
			  <a class="dropdown-item" href="#">Logout</a>
			</li>
		  </ul>
		</div>
	  </div>
	  <!-- Right elements -->
	</div>
	<!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
	<div class="agileits_header">
		
		
		
		
		
	</div>
<!-- script-for sticky-nav -->
	<script>
	$(document).ready(function() {
		 var navoffeset=$(".agileits_header").offset().top;
		 $(window).scroll(function(){
			var scrollpos=$(window).scrollTop(); 
			if(scrollpos >=navoffeset){
				$(".agileits_header").addClass("fixed");
			}else{
				$(".agileits_header").removeClass("fixed");
			}
		 });
		 
	});
	</script>
<!-- //script-for sticky-nav -->
	<div  class="logo_products">
		<div class="container">
			<div class="w3ls_logo_products_left">
				<h1><a href="index.html"><span>BOLBUKFOODS</span> Store</a></h1>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="special_items">
					<li><a href="events.html">Events</a><i>/</i></li>
					<li><a href="about.html">About Us</a><i>/</i></li>
					<li><a href="products.html">Best Deals</a><i>/</i></li>
					<li><a href="services.html">Services</a></li>
				</ul>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><i class="fa fa-phone" aria-hidden="true"></i>(+0123) 234 567</li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:store@grocery.com">store@grocery.com</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- products-breadcrumb -->
	<div style='background-color:grey;' class="products-breadcrumb">
		<div class="container">
			<ul>
				<li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
				<li>Shopping cart</li>
			</ul>
		</div>
	</div>
<!-- //products-breadcrumb -->

<section class="h-100 h-custom" style="background-color: #eee;">
	<div class="container py-5 h-100">
	  <div class="row d-flex justify-content-center align-items-center h-100">
		<div class="col">
		  <div class="card">
			<div class="card-body p-4">
				<% if (products) { %>
			  <div class="row">
  
				<div class="col-lg-7">
				  <h5 class="mb-3"><a href="#!" class="text-body"><i
						class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
				  <hr>
  
				  <div class="d-flex justify-content-between align-items-center mb-4">
					<div>
					  <p class="mb-1">Shopping cart</p>
					  <% if (!session.cart) { %>
						<p class="mb-0">You have No items in your cart</p>
						<%} else { %>
							<p class="mb-0">You have <%=session.cart.totalQty%> items in your cart</p>
						<% } %>
					
					 
					</div>
					
				  </div>
  
				 
  
				  
				

					<% products.forEach(function(products){ %>
				  <div class="card mb-3">
					<div class="card-body">
					  <div class="d-flex justify-content-between">
						<div class="d-flex flex-row align-items-center">
						  <div>
							<img
							  src="uploads/<%=products.item.image%>"
							  class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
						  </div>
						  <div class="ms-3">
							<h5><%=products.item.name%></h5>
							<p class="small mb-0">Onyx Black</p>
						  </div>
						</div>
						<div class="d-flex flex-row align-items-center">
						  <div style="width: 50px;">
							<h5 class="fw-normal mb-0"><%=products.qty%></h5>
						  </div>
						  <div style="width: 80px;">
							<h5 class="mb-0"><%=products.item.price%></h5>
						  </div>
						  <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
						</div>
					  </div>
					</div>
				  </div>
				  <% }); %>
				  
  
				</div>
				<div class="col-lg-5">
  
				  <div class="card bg-primary text-white rounded-3">
					<div class="card-body">
					  <div class="d-flex justify-content-between align-items-center mb-4">
						<h5 class="mb-0">Card details</h5>
						<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
						  class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
					  </div>
  
					  <p class="small mb-2">Card type</p>
					  <a href="#!" type="submit" class="text-white"><i
						  class="fab fa-cc-mastercard fa-2x me-2"></i></a>
					  <a href="#!" type="submit" class="text-white"><i
						  class="fab fa-cc-visa fa-2x me-2"></i></a>
					  <a href="#!" type="submit" class="text-white"><i
						  class="fab fa-cc-amex fa-2x me-2"></i></a>
					  <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>
  
					  <form class="mt-4">
						<div class="form-outline form-white mb-4">
						  <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
							placeholder="Cardholder's Name" />
						  <label class="form-label" for="typeName">Cardholder's Name</label>
						</div>
  
						<div class="form-outline form-white mb-4">
						  <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
							placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
						  <label class="form-label" for="typeText">Card Number</label>
						</div>
  
						<div class="row mb-4">
						  <div class="col-md-6">
							<div class="form-outline form-white">
							  <input type="text" id="typeExp" class="form-control form-control-lg"
								placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7" />
							  <label class="form-label" for="typeExp">Expiration</label>
							</div>
						  </div>
						  <div class="col-md-6">
							<div class="form-outline form-white">
							  <input type="password" id="typeText" class="form-control form-control-lg"
								placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
							  <label class="form-label" for="typeText">Cvv</label>
							</div>
						  </div>
						</div>
  
					  </form>
  
					  <hr class="my-4">
  
					  <div class="d-flex justify-content-between">
						<p class="mb-2">Subtotal</p>
						<p class="mb-2">$<%=totalPrice%>.00</p>
					  </div>
  
					  <div class="d-flex justify-content-between">
						<p class="mb-2">Shipping</p>
						<p class="mb-2">$20.00</p>
					  </div>
  
					  <div class="d-flex justify-content-between mb-4">
						<p class="mb-2">Total(Incl. taxes)</p>
						<p class="mb-2">$ <%=totalPrice + 20 %>.00</p>
					  </div>
  
					  <button type="button" class="btn btn-info btn-block btn-lg">
						<div class="d-flex justify-content-between">
						  <span>$ <%=totalPrice + 20 %>.00</span>
						  <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
						</div>
					  </button>
  
					</div>
				  </div>
  
				</div>
  
			  </div>
  
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>


	   <%} else { %>
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
				<h2>No Items in Cart yet!</h2>
			</div>
		</div>
	<% } %>
	
	</div>
</div>

<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>
<script src="js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="js/minicart.js"></script>
<script>
		paypal.minicart.render();

		paypal.minicart.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});

	</script>
</body>
</html>